.bs-callout.bs-callout-primary.js-ad-item{data: {object_id: ad_item.id}}
  .row
    .col-sm-8
      %h4.name=ad_item.name
      .price
        Цена:
        =ad_item.price
      .description=ad_item.description

      -if current_user && current_user == ad_item.user
        =link_to edit_ad_path(ad_item) do
          %span.glyphicon.glyphicon-edit
    .col-sm-4
      = image_tag attachment_url(ad_item, :image_preview, :fill, 100, 100, format: "jpg")
