.row
  .col-md-6.col-md-offset-3
    %h1 Редактирование объявление
    = render 'form'
    = link_to 'Delete', advertising_path(@advertising), :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-danger'