.row
  .col-sm-8
    #ad-map{style: 'height: 700px;'}
  .col-sm-4
    %span € 10
    %input#js-filer-price.span2{"data-slider-max" => "1000", "data-slider-min" => "10", "data-slider-step" => "5", "data-slider-value" => "[10,1000]", :type => "text", :value => ""}/
    %span € 1000

    .ads-list

:javascript
  $(document).ready(function(){
    initMap()
    initSlider()
  });